:root {

    --border-size: 0.1em;
    --gutter: 10px;

}

/******************* CALENDAR *******************/

/* container/weekday header */
.lgv-content,
.lgv-dow {
    column-gap: var(--gutter);
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr) minmax(0,1fr);
    row-gap: var(--gutter);
}

/* header column */
.lgv-weekday {
    text-align: center;
    text-transform: uppercase;
}

/******************* CELL *******************/

/* header */
.lgv-cell-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.25em;
}

/* header stat */
.lgv-stat {
    align-items: center;
    background-color: grey;
    border-radius: 1em;
    color: white;
    font-size: 0.8em;
    display: flex;
    height: 1.5em;
    justify-content: center;
    padding: 0.2em;
    width: 1.5em;
}

/* body */
.lgv-cell {
    border-bottom: var(--border-size);
    border-bottom-style: solid;
    border-top: var(--border-size);
    border-top-style: solid;
    position: relative;
}

/* borders */
.lgv-cell::before,
.lgv-cell::after {
    background-color: black;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: var(--border-size);
}

/* left border */
.lgv-cell::before {
    left: 0;
}

/* right border */
.lgv-cell::after {
    right: 0;
}

/* previous/next month days */
.lgv-cell[data-month = "next"],
.lgv-cell[data-month = "previous"] {
    opacity: 0.25;
}

/* today icon */
.lgv-cell[data-is-today = "true"] .lgv-day::before {
    content: "◤";
    left: 0;
    position: absolute;
    top: -0.25em;
}

/* today digits */
.lgv-cell[data-is-today = "true"] .lgv-day {
    padding-left: 0.25em;
}

/******************* EVENT *******************/

/* bar */
.lgv-event {
    align-items: center;
    background-color: lightgrey;
    display: flex;
    font-size: 0.75em;
    overflow: hidden;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* more events */
.lgv-more {
    bottom: 0;
    font-size: 0.8em;
    overflow: hidden;
    position: absolute;
    right: 0.5em;
    text-align: right;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: calc(100% - 1em);
}